---
greaseweazle:
  # either the device name for the greaseweazle or 'auto' to just use the default
  port: auto
  drives:
    # valid drives: A, B, 0, 1, 2
    # NOTE:  use A,B if you're using PC-style cabling, and 0-2 for Shugart
    # valid types: none, 3.5HD, 3.5DD, 5.25HD, 5.25DD
    a: 3.5HD
    b: 5.25HD

#
# Supported formats can be listed by activing the python environment and
# running:   gw read -h

formats:
  5.25DD: &525DD
    - commodore.1541
    - ibm.360
  5.25HD:
    - *525DD  # Everything that is supported by 5.25DD
    - ibm.1200
  3.5DD: &35DD
    - amiga.amigados
    - ibm.720
    - mac.800
  3.5HD:
    - *35DD # Everything that is supported by 3.5DD
    - ibm.1440

  